section.content {width:900px;min-height:300px;margin:2em auto;}
section.content  > header > h1{font-size:2em;padding:.5em 0;}

/* section busca */
section.content  > section.busca{margin:0 auto;font-size:1.1em;padding:2em;border:thin solid #E5E5E5;background-color:#f9f9f9}
section.content  > section.busca .frm input[type=text]{
	width:70%;font-size:1.5em;
}

section.content  > section.busca .frm input[type=submit]{
	font-size:.8em;
	margin-left:1em;
}

section.content  > section.busca .frm input[type=button]{
	font-size:.8em;
	margin-left:.3em;
}

section.content  > footer > nav{margin:1em 0;}

section.content  > form > ul{display:inline;}
section.content  > form > ul li{display:inline;}

/* div main */
div.main{min-width:990px;margin:0;padding:0;clear:both;color:inherit}

/* div header */
div.main > div.header{background:#f6f6f6;color:inherit;}
div.main > div.nav{margin:0;padding:0;background:#AAA;color:inherit;display:block}
div.main > div.nav > div.menu{width:990px;margin:0 auto;padding:0;display:block}

/* div content */
div.main > div.content{width:950px;min-height:300px;margin:0 auto;padding:20px;clear:both;}
div.main > div.content > h1{color:#007857;font-size:2em;}

/* div footer */
div.footer{min-width:990px;margin:0;padding:10px 0 0 0;clear:both;}

/* div busca */
div.busca{font-size:1.1em;padding:2em;border:thin solid #E5E5E5;background-color:#FFF}
div.busca .frm input[type=text]{
	width:24.5em;font-size:1.5em;
}

div.busca .frm input[type=submit]{
	font-size:.8em;
	margin-left:1em;
}

div.busca .frm input[type=button]{
	font-size:.8em;
	margin-left:.3em;
}

/* div add */
div.add{display:inline-block;color:#333;cursor:pointer;background:transparent url('../images/ico/ico_add.gif') no-repeat center left;padding:.5em 0 .5em 17px}
div.add:hover{color:#666;background-color:transparent}

/* erro de preenchimento no form */
pre.erro{
	line-height:1.2em;
	font-size:1em;
	padding:1em;
	margin:1em;
	background:#900;
	color:#FFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 10px rgba(150,0,0,.5);
	-webkit-box-shadow: 0 1px 10px rgba(150,0,0,.5);
	box-shadow: 0 1px 10px rgba(150,0,0,.5);
}

/* erro de preenchimento no form */
pre.warning{
	line-height:1.2em;
	font-size:1em;
	padding:1em;
	margin:1em;
	background:#FC0;
	color:#000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 10px rgba(255,204,0,.5);
	-webkit-box-shadow: 0 1px 10px rgba(255,204,0,.5);
	box-shadow: 0 1px 10px rgba(255,204,0,.5);
}


table.customItens{margin:1em 0;border-collapse:collapse;width:100%;}
table.customItens > tbody > tr{}
/*table.customItens > tbody > tr:nth-child(2n+1){background:#e1e1e1;color:#333;}*/
table.customItens > tbody > tr:hover{background:#C2EFE2;color:#333}
table.customItens > tbody > tr > td{padding:1em;vertical-align:top;}
table.customItens > tbody > tr > td:last-child{vertical-align:middle;}

div.mooeditable-container{
	display:inline-block;
}

div.mooeditable-container span{
	padding:0;
}