<!DOCTYPE html>
<html lang="pt-BR">

<!--
Site Name: Base
Site URI: http://base.com.br/
Version: 1.0
Date: 2010 September 7
Designer: ###
Programmer: Thiago Lagden - http://lagden.art.br/
Agency: <l:demagalhaes/>
-->

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="<?php echo "{$_keywords}"; ?>" />
	<meta name="description" content="<?php echo "{$_description}"; ?>" />
	<meta name="author" content="Thiago Lagden Magalhães" />
	<meta name="robots" content="all" />
	
	<!-- Link -->
	<?php echo \madeam\helper\Html::link("/images/favicon.gif",array("type"=>"image/x-icon","rel"=>"shortcut icon")); ?>

	<!-- Title -->
	<title><?php echo "{$_title}"; ?></title>

	<!-- Css -->
	<?php foreach((array)$_css as $v)echo "{$v}\n"; ?>
	<!--[if lt IE 9]><?php echo \madeam\helper\Html::css('/stylesheets/ie'); ?><![endif]-->

	<!-- Js -->
	<?php foreach((array)$_js as $v)echo "{$v}\n"; ?>
	<!--[if lt IE 9]><?php echo \madeam\helper\Html::js('/javascripts/app/html5'); ?><![endif]-->

	<!-- javaScript -->
	<script type="text/javascript">
		<?php echo "{$_javaScriptApp}"; ?>
		<?php echo "{$_javaScript}"; ?>
	</script>
</head>

<body>
	<?php echo "{$_header}"; ?>
	<?php echo "{$_nav}"; ?>
	<?php echo "{$_content}"; ?>
	<?php echo "{$_footer}"; ?>
</body>
</html>
