/* Document
-----------------------------------------------------------------------------*/
html{margin:0;padding:0}

body{
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
	background-color:#FFF;
	color:#000;
}

/* Code
-----------------------------------------------------------------------------*/
code{
	background: #f1f4fa;
	padding: 1em;
	margin: 1em 0;
	display: block;
	border: thin solid #ddd;
	border-width: thin 0;
	color: #253248;
	font-size: 1.2em;
	word-wrap: break-word;
}

hr{
	display:block;
	height:1px;
	border:0;
	border-top:thin solid #BBB;margin:1em 0;padding:0;clear:both;
}

/* a
-----------------------------------------------------------------------------*/
a,
a:link,
a:visited,
a:active{background:transparent;color:#000;text-decoration:none}
a:hover{background:transparent;color:#000;text-decoration:underline}

a.gray,
a.gray:link,
a.gray:visited,
a.gray:active{background:transparent;color:#999;text-decoration:none}
a.gray:hover{background:transparent;color:#999;text-decoration:underline}

a.white,
a.white:link,
a.white:visited,
a.white:active{background:transparent;color:#FFF;text-decoration:none}
a.white:hover{background:transparent;color:#FFF;text-decoration:underline}

/* Table
-----------------------------------------------------------------------------*/
table.listagem{margin:1em 0;border-collapse:collapse;width:100%;}
table.listagem > tbody > tr > td,
table.listagem > thead > tr > th{border:thin solid #eee; padding: .6em .8em;text-align:left;/*white-space:nowrap;*/}
table.listagem > thead > tr > th{background-color:#ff7700;color:#FFF;}

table.listagem > tbody > tr{}
table.listagem > tbody > tr:nth-child(2n+1){background:#e1e1e1;color:#333;}
table.listagem > tbody > tr:hover{background:#fde3ab;color:#333}
table.listagem > tbody > tr.set,
table.listagem > tbody > tr.set:hover{background:#ff7700;color:#FFF}
table.listagem > tbody > tr.selected{background:#ff7700;color:#fff}
table.listagem > tbody > tr.hand{cursor:pointer}
table.listagem > tbody > tr.drag{background:#fc0;color:#333}
table.listagem > tbody > tr.cloneSelected{background:#FF0;color:#333}
table.listagem > tbody > tr.overPosition{background:#FC0;color:#333}

table.listagem > tbody > tr > td{padding:.3em}
table.listagem > tbody > tr > td.center{text-align:center}
table.listagem > tbody > tr > td.top{vertical-align:top;}
table.listagem > tbody > tr > td > div.center{text-align:center}
table.listagem > tbody > tr > td > div.center > img{cursor:pointer;padding:.3em}

table.listagem > tfoot > tr{}
table.listagem > tfoot > tr > td{background:#999;color:#fff;margin:0;padding:.3em;font-weight:normal}
table.listagem > tfoot > tr > td.center{text-align:center}
table.listagem > tfoot > tr > td.right{text-align:right}
table.listagem > tfoot > tr > td > div.center,
table.listagem > tfoot > tr > td > div.left,
table.listagem > tfoot > tr > td > div.right{padding:0px 3px}
table.listagem > tfoot > tr > td > div.center{text-align:center}
table.listagem > tfoot > tr > td > div.left{float:left}
table.listagem > tfoot > tr > td > div.right{float:right}


/* Form
-----------------------------------------------------------------------------*/
.frm .big{width:600px}
.frm .bigmid{width:480px}
.frm .mid{width:300px}
.frm .midsmall{width:200px}
.frm .small{width:50px}

textarea.bigger{width:600px;height:300px}
textarea.big{width:600px;height:100px}
textarea.bigmid{width:480px;height:100px}
textarea.mid{width:300px;height:100px}

input[type=radio]{background:none;margin:.4em;border:0}
input[type=checkbox]{background:none;margin:.4em;border:0}

.frm p{padding:0 0 1em 0;}
.frm p:last-child{padding:0}

.frm label.block{display:block;clear:both}
.frm label.top{margin:1em 0 0 0}
.frm label.b{font-weight:bold}
.frm label.none{margin:0;padding:0}
.frm label.padding{padding:0 .4em}
.frm label span{padding:0 .5em;display:inline-block;}
.frm label span.big{width:150px;text-align:right;padding:0 .5em;}

.frm input,
.frm select,
.frm label,
.frm textarea{font-size:1em;}

.frm select,
.frm textarea,
.frm input[type=file],
.frm input[type=text],
.frm input[type=email],
.frm input[type=url],
.frm input[type=tel],
.frm input[type=password]{
	padding:.3em;
	border:thin solid #E5E5E5;
	outline:0;
	background:#FFF;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background:-moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.frm select:focus,
.frm textarea:focus,
.frm input[type=file]:focus,
.frm input[type=text]:focus,
.frm input[type=email]:focus,
.frm input[type=url]:focus,
.frm input[type=tel]:focus,
.frm input[type=password]:focus{
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.frm textarea:disabled,
.frm input[type=file]:disabled,
.frm input[type=text]:disabled,
.frm input[type=email]:disabled,
.frm input[type=url]:disabled,
.frm input[type=tel]:disabled,
.frm input[type=password]:disabled{
	opacity:.3;
	border-color: #C9C9C9;
}

.frm .error{border:thin solid red;}

.frm textarea.full{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	min-height:20em;
}

button{
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;font-style:normal;
	font-size:100%;
	line-height:1;
	font-family:inherit;
	text-align:left;
}

.awesome{
	position:relative;
	background: #CCC;
	background: -moz-linear-gradient(top, #CCC, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#EEE));
	display:inline-block;
	padding:.3em .5em .4em;
	color:#999;
	text-decoration: none;
	font-weight: normal;
	line-height: 1;
	border:0 none;
	border-bottom:thin solid rgba(0,0,0,.1);
	position: relative;
	cursor: pointer;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.5);
	box-shadow: 0 1px 10px rgba(0,0,0,.5);
	text-shadow: 0 -1px 1px rgba(155,155,155,.25);
}

.awesome:hover{
	background: #bbb;
	background: -moz-linear-gradient(top, #bbb, #ddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#ddd));
	color: #999;
	border-bottom:thin solid rgba(0,0,0,.4);
}
.awesome:active{top:1px;}


/* Div as Table
-----------------------------------------------------------------------------*/

/* div table */
div.table{display:table;}
div.layout{table-layout:fixed;}
div.tr{display:table-row;}
div.thead{display:table-header-group;}
div.tbody{display:table-row-group;}
div.tfoot{display:table-footer-group;}
div.col{display:table-column;}
div.colgroup{display:table-column-group;}
div.caption{display:table-caption;}
div.th,
div.td{display:table-cell;}

/* div table zebra */
div.tbody > div.tr:nth-child(2n+1){background:#deedf7;color:inherit;}
div.tbody > div.tr:hover{background:#d1d1d1;color:#333;}

/* div table bordas */
div.thead > div.tr > div.th{padding:5px;font-weight:bold;text-align:center;}
div.thead > div.tr:first-child > div.th{border-width:thin 0 thin thin;border-style:solid;border-color:#FFF;}
div.thead > div.tr:first-child > div.th:last-child{border-width:thin;}

div.tbody > div.tr > div.td{padding:5px;border-width:thin;border-style:solid;border-color:#FFF;}

div.tbody > div.tr > div.td{border-width:0 0 thin thin;vertical-align:middle;}
div.tbody > div.tr > div.td:last-child{border-width:0 thin thin thin;}

/* Div
-----------------------------------------------------------------------------*/

/* div loading */
div.loading{
	z-index:999;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	padding:5px;
	background:#000;
	color:#FFF;
	font-size:11px;
	text-align:center;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}

div.loadingShow{
	opacity:.6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:alpha(opacity=60);
}

/* div pagination */
div.pagination{text-align:center;color:#000;background:none;}
div.pagination button.paginacaoUI{color:#000;background:none;border:0;cursor:pointer;}
div.pagination button.paginacaoUI:hover{color:#9099b8;background-color:inherit}
div.pagination button.paginacaoDisabled{opacity:.6;filter:alpha(opacity=60)}
div.pagination button.paginacaoSelecionado{color:#9099b8;background-color:inherit}

/* Misc
-----------------------------------------------------------------------------*/
/* vertical align */
._top{vertical-align:top;}
._middle{vertical-align:middle;}
._bottom{vertical-align:bottom;}

/* text align */
._left{text-align:left;}
._center{text-align:center;}
._right{text-align:right;}

/* text align */
._fleft{float:left;}
._fright{float:right;}
._fnone{float:none;}

/* margin top and bottom */
._marginTop{margin-top:1em}
._marginBottom{margin-bottom:1em}
._marginBoth{margin-bottom:1em;margin-top:1em}

/* padding top and bottom  */
._paddingTop{padding-top:1em}
._paddingBottom{padding-bottom:1em}
._paddingBoth{padding-bottom:1em;padding-top:1em}

/* padding right and Left  */
._paddingRight{padding-right:1em}
._paddingLeft{padding-left:1em}
._paddingRL{padding-right:1em;padding-left:1em}

/* display block */
._block{display:block}
._inlineblock{display:inline-block}

/* display none */
._none{display:none}
._hidden{visibility:hidden}

/* clear both */
._clear{clear:both}

/* pointer */
._pointer{cursor:pointer;}